.doctor-info-gray-back {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(217, 217, 217, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.doctor-info {
  position: relative;
  width: 900px !important;
  height: 870px;
  background-color: white;
}
.doctor-info .upperSide {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-between;
}
.doctor-info .upperSide .leftSide {
  width: 50%;
  height: 100%;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.doctor-info .upperSide .rightSide {
  width: 50%;
  height: 100%;
}
.doctor-info .upperSide .leftSide .name {
  font-size: 50px;
  color: #3c8858;
  font-weight: 500;
}
.doctor-info .upperSide .leftSide .specialization {
  flex: 0.2;
  font-size: 25px;
}
.doctor-info .upperSide .leftSide .address {
  flex: 0.6;
}
.doctor-info .upperSide .leftSide .hospital {
  color: #3c8858;
  font-size: 20px;
  font-weight: 500;
}
.doctor-info .upperSide .leftSide .room {
  margin-top: 10px;
}
.doctor-info .leftSide {
  padding: 10px;
}
.doctor-info .bottomSide {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
}
.doctor-info .bottomSide .leftSide {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.doctor-info .bottomSide .leftSide fieldset {
  height: 60px;
  padding-top: 10px;
  border: none;
}

.doctor-info .bottomSide .leftSide fieldset label {
  margin-left: 10px;
}
.doctor-info .bottomSide .leftSide input[type="radio"] {
  width: 0px;
  height: 0px;
  visibility: hidden;
}
.doctor-info .bottomSide .leftSide input[type="text"],
.doctor-info .bottomSide .leftSide input[type="email"] {
  width: 260px;
  height: 40px;
  border-radius: 15px;
  font-size: inherit;
  border: 1px solid #808080;
  background-color: rgba(217, 217, 217, 0.3);
  padding: 20px;
}
.doctor-info .bottomSide .services {
  width: 45%;
  height: 90%;
  margin-top: 25px;
  background-color: #3c8858;
  border-radius: 15px;
  color: white;
  font-size: 25px;
  padding: 20px;
  overflow-y: scroll;
}
.doctor-info .bottomSide .services ul {
  list-style: none;
}
.doctor-info .bottomSide .services ul li {
  padding: 15px 10px;
  font-size: 20px;
}
.doctor-info .btn-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.doctor-info button {
  width: 210px;
  height: 45px;
  color: white;
  font-size: 20px;
  letter-spacing: 2px;
  background: #3c8858;
  border-radius: 15px;
  outline: none;
  border: none;
}
.doctor-info .close-btn {
  background-color: #c63e3e;
}
.modal-confirmation-gray-back {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(234, 227, 227, 0.546);
}
.modal-confirmation-gray-back .confirmation {
  width: 750px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  text-align: center;
  padding: 30px;
}

.modal-confirmation-gray-back .confirmation-greeting {
  font-size: 2rem;
  margin-bottom: 35px;
}
.modal-confirmation-gray-back .confirmation-info {
  font-size: 1.4rem;
  margin-bottom: 55px;
}

@media (max-width: 1000px) {
  .doctor-info form .services {
    font-size: 1.2rem;
  }
  .modal-confirmation-gray-back .confirmation-greeting {
    font-size: 1.7rem;
  }
  .modal-confirmation-gray-back .confirmation-info {
    font-size: 1.2rem;
  }
  .modal-confirmation-gray-back button {
    font-size: 1.2rem;
    width: 230px;
    height: 40px;
    color: white;
    font-size: 25px;
    letter-spacing: 2px;
    background: #3c8858;
    border-radius: 15px;
    outline: none;
    border: none;
  }
}

@media (max-width: 750px) {
  .doctor-info {
    width: 100%;
    height: 95vh;
  }
  .doctor-info .upperSide {
    height: 45%;
  }
  .doctor-info .upperSide .leftSide {
    padding-left: 15px;
  }
  .doctor-info .upperSide .rightSide {
    width: 45%;
    height: 80%;
  }

  .doctor-info .upperSide .leftSide .name {
    font-size: 30px;
  }
  .doctor-info .upperSide .leftSide .specialization {
    font-size: 18px;
  }
  .doctor-info .upperSide .leftSide .address {
    flex: 0.6;
  }
  .doctor-info .upperSide .leftSide .hospital {
    font-size: 18px;
  }
  .doctor-info .upperSide .leftSide .room {
    margin-top: 10px;
  }
  .doctor-info .leftSide {
    padding: 5px;
  }
  .doctor-info .bottomSide {
    padding: 10px;
  }
  .doctor-info .bottomSide .leftSide {
    width: 45%;
  }

  .doctor-info .bottomSide .leftSide fieldset {
    height: 60px;
    display: flex;
    font-size: 0.9rem;
    align-items: center;
  }

  .doctor-info .bottomSide .leftSide fieldset label {
    margin-left: 5px;
  }
  .doctor-info .bottomSide .leftSide fieldset .hour {
    padding: 2px 20px;
    border-radius: 15px;
  }
  .doctor-info .bottomSide .leftSide input[type="text"],
  .doctor-info .bottomSide .leftSide input[type="email"] {
    width: 100%;
  }
  .doctor-info .bottomSide .services {
    width: 45%;
    padding: 15px;
  }
  .doctor-info .bottomSide .services ul li {
    padding: 8px 0px;
    font-size: 18px;
  }
  .doctor-info button {
    width: 150px;
    height: 40px;
    font-size: 17px;
  }

  .modal-confirmation-gray-back .confirmation {
    width: 100%;
    justify-content: flex-end;
  }
}

@media (max-width: 550px) {
  .doctor-info {
    min-width: 370px;
    overflow-y: scroll;
  }

  .doctor-info .upperSide .leftSide {
    width: 100%;
  }

  .doctor-info .upperSide .leftSide .name {
    font-size: 35px;
  }

  .doctor-info .upperSide .rightSide {
    display: none;
  }

  .doctor-info .bottomSide {
    height: auto;
    flex-direction: column;
    padding-top: 0;
  }
  .doctor-info .bottomSide .leftSide {
    width: 100%;
    order: 2;
  }
  .doctor-info .bottomSide .services {
    width: 100%;
    padding: 15px;
    order: 1;
  }
  .doctor-info .btn-container {
    order: 3;
    margin: 10px 0 55px;
  }

  .modal-confirmation-gray-back .confirmation-greeting {
    font-size: 1.5rem;
  }
  .modal-confirmation-gray-back .confirmation-info {
    font-size: 1.1rem;
  }
}

@media (max-height: 800px) and (min-width: 550px) {
  .doctor-info {
    position: relative;
    width: 90%;
    min-width: 370px;
    height: 100vh;
  }
}
