@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700&family=Playfair+Display&family=Roboto:wght@100;400;500;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-family: "Playfair Display", serif;
  font-family: "Roboto", sans-serif;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
.navbar {
  width: 100%;
  height: 160px;
  display: flex;
  gap: 30px;
  align-items: end;
}

.navbar .logo {
  width: 230px;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 55px;
  font-weight: normal;
  text-align: center;
  box-shadow: 0px 4px 10px 10px rgba(0, 0, 0, 0.312);
}
.navbar .logo > .health {
  width: 230px;
  height: 50%;
  background: #3c8858;
  padding: 10px;
  color: white;
}
.navbar .logo > .online {
  width: 230px;
  height: 50%;
  padding: 10px;
  color: #3c8858;
}

.navbar form {
  width: 820px;
  height: 70%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  font-size: 21px;
}
.navbar form input[type="text"] {
  width: 260px;
  height: 50px;
  border-radius: 15px;
  font-size: inherit;
  border: 1px solid #808080;
  padding: 20px;
}
.navbar form input[type="text"]:focus {
  outline: none;
  border: 1px solid #000000;
}
.navbar form .daysFilter {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.day {
  padding: 2px 25px;
  border-radius: 15px;
  color: white;
  user-select: none;
}
.hour {
  padding: 2px 25px;
  border-radius: 15px;
  color: white;
  user-select: none;
  background-color: #3c8858;
}

.navbar form input[type="checkbox"] {
  width: 0;
  height: 0;
}

.pn {
  background-color: #e9acb6;
}
.wt {
  background-color: #eaaa86;
}
.sr {
  background-color: #eae29b;
}
.czw {
  background-color: #a5a5de;
}
.pt {
  background-color: #a9dea5;
}
.sb {
  background-color: #76c7ea;
}
.nd {
  background-color: #b8b2af;
}

.tiles {
  width: 100%;
  padding: 30px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
.tiles .no-results {
  width: 100%;
  padding: 30px;
  font-size: 2rem;
  text-align: center;
}
.doctorTile {
  width: 450px;
  height: 150px;
  padding: 10px;
  background: #ffffff;
  box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.3);
}
.doctorTile .name {
  font-size: 30px;
  color: #3c8858;
  font-weight: 500;
}
.doctorTile .specialization {
  font-size: 20px;
  margin-top: 5px;
}
.doctorTile .upperTile {
  width: 100%;
  height: 70%;
}
.doctorTile .bottomTile {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
.doctorTile .days {
  display: flex;
  gap: 15px;
}
.doctorTile button {
  outline: none;
  border: none;
  color: #3c8858;
  font-size: 20px;
  background-color: transparent;
}
.doctorTile button::after {
  content: " >";
}

.doctor-info-gray-back {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(217, 217, 217, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.doctor-info {
  position: relative;
  width: 1000px;
  height: 870px;
  background-color: white;
}
.doctor-info .upperSide {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-between;
}
.doctor-info .upperSide .leftSide {
  width: 50%;
  height: 100%;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.doctor-info .upperSide .rightSide {
  width: 50%;
  height: 100%;
}
.doctor-info .upperSide .leftSide .name {
  font-size: 50px;
  color: #3c8858;
  font-weight: 500;
}
.doctor-info .upperSide .leftSide .specialization {
  flex: 0.2;
  font-size: 25px;
}
.doctor-info .upperSide .leftSide .address {
  flex: 0.6;
}
.doctor-info .upperSide .leftSide .hospital {
  color: #3c8858;
  font-size: 20px;
  font-weight: 500;
}
.doctor-info .upperSide .leftSide .room {
  margin-top: 10px;
}
.doctor-info .leftSide {
  padding: 10px;
}
.doctor-info .bottomSide {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
}
.doctor-info .bottomSide .leftSide {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.doctor-info .bottomSide .leftSide fieldset {
  height: 60px;
  padding-top: 10px;
  border: none;
}

.doctor-info .bottomSide .leftSide fieldset label {
  margin-left: 10px;
}
.doctor-info .bottomSide .leftSide input[type="radio"] {
  width: 0px;
  height: 0px;
  visibility: hidden;
}
.doctor-info .bottomSide .leftSide input[type="text"],
.doctor-info .bottomSide .leftSide input[type="email"] {
  width: 260px;
  height: 40px;
  border-radius: 15px;
  font-size: inherit;
  border: 1px solid #808080;
  background-color: rgba(217, 217, 217, 0.3);
  padding: 20px;
}
.doctor-info .bottomSide .services {
  width: 45%;
  height: 90%;
  margin-top: 25px;
  background-color: #3c8858;
  border-radius: 15px;
  color: white;
  font-size: 25px;
  padding: 20px;
  overflow-y: scroll;
}
.doctor-info .bottomSide .services ul {
  list-style: none;
}
.doctor-info .bottomSide .services ul li {
  padding: 15px 10px;
  font-size: 20px;
}
.doctor-info .btn-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.doctor-info button {
  width: 210px;
  height: 45px;
  color: white;
  font-size: 20px;
  letter-spacing: 2px;
  background: #3c8858;
  border-radius: 15px;
  outline: none;
  border: none;
}
.doctor-info .close-btn {
  background-color: #c63e3e;
}
.modal-confirmation-gray-back {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(234, 227, 227, 0.546);
}
.modal-confirmation-gray-back .confirmation {
  width: 70%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  text-align: center;
  padding: 30px;
}

.modal-confirmation-gray-back .confirmation-greeting {
  font-size: 2rem;
  margin-bottom: 35px;
}
.modal-confirmation-gray-back .confirmation-info {
  font-size: 1.4rem;
  margin-bottom: 55px;
}
@media (min-width: 2000px) {
  .navbar {
    justify-content: center;
  }

  .tiles {
    width: 1000px;
    margin: 0 auto;
  }
}

@media (max-width: 1000px) {
  .navbar {
    width: 100%;
    height: 120px;
  }
  .navbar .logo {
    width: 200px;
    height: 100%;
    font-size: 40px;
  }
  .navbar .logo > .health {
    width: 100%;
  }
  .navbar .logo > .online {
    width: 100%;
  }
  .navbar form {
    width: 100%;
    height: 90%;
  }
  .navbar form input[type="text"] {
    width: 200px;
    height: 40%;
    font-size: 20px;
  }
  .navbar form .daysFilter {
    flex-wrap: wrap;
    gap: 5px;
  }
  .day {
    padding: 2px 20px;
    border-radius: 10px;
  }

  .tiles {
    justify-content: center;
  }

  .modal-confirmation-gray-back .confirmation {
    height: 40%;
  }
  .doctor-info form .services {
    font-size: 1.2rem;
  }
  .modal-confirmation-gray-back .confirmation-greeting {
    font-size: 1.7rem;
  }
  .modal-confirmation-gray-back .confirmation-info {
    font-size: 1.2rem;
  }
  .modal-confirmation-gray-back button {
    font-size: 1.2rem;
    margin-bottom: 55px;
    width: 250px;
    height: 50px;
    color: white;
    font-size: 25px;
    letter-spacing: 2px;
    background: #3c8858;
    border-radius: 15px;
    outline: none;
    border: none;
  }
}

@media (max-width: 550px) {
  .navbar form .daysFilter {
    visibility: hidden;
  }

  .doctorTile {
    width: 300px;
    height: 150px;
  }
  .doctorTile .name {
    font-size: 25px;
  }
  .doctorTile .specialization {
    font-size: 18px;
  }
  .doctorTile .upperTile {
    width: 100%;
    height: 70%;
  }
  .doctorTile .bottomTile {
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .doctorTile .days {
    display: flex;
    gap: 3px;
  }
  .doctorTile button {
    font-size: 18px;
  }

  .doctor-info {
    width: 100%;
    min-width: 370px;
    height: 95vh;
    overflow-y: scroll;
  }
  .doctor-info .upperSide {
    height: 45%;
  }
  .doctor-info .upperSide .leftSide {
    padding-left: 15px;
  }
  .doctor-info .upperSide .rightSide {
    width: 45%;
    height: 80%;
  }

  .doctor-info .upperSide .leftSide .name {
    font-size: 30px;
  }
  .doctor-info .upperSide .leftSide .specialization {
    font-size: 18px;
  }
  .doctor-info .upperSide .leftSide .address {
    flex: 0.6;
  }
  .doctor-info .upperSide .leftSide .hospital {
    font-size: 18px;
  }
  .doctor-info .upperSide .leftSide .room {
    margin-top: 10px;
  }
  .doctor-info .leftSide {
    padding: 5px;
  }
  .doctor-info .bottomSide {
    height: auto;
    flex-direction: column;
    padding: 10px;
  }
  .doctor-info .bottomSide .leftSide {
    width: 100%;
    order: 2;
  }

  .doctor-info .bottomSide .leftSide fieldset {
    height: 60px;
    display: flex;
    font-size: 0.9rem;
    align-items: center;
  }

  .doctor-info .bottomSide .leftSide fieldset label {
    margin-left: 5px;
  }
  .doctor-info .bottomSide .leftSide fieldset .hour {
    padding: 2px 20px;
    border-radius: 15px;
  }
  .doctor-info .bottomSide .leftSide input[type="text"],
  .doctor-info .bottomSide .leftSide input[type="email"] {
    width: 100%;
  }
  .doctor-info .bottomSide .services {
    width: 100%;
    padding: 15px;
    order: 1;
  }
  .doctor-info .btn-container {
    order: 3;
  }
  .doctor-info .bottomSide .services ul li {
    padding: 8px 0px;
    font-size: 18px;
  }
  .doctor-info button {
    width: 150px;
    height: 40px;
    font-size: 17px;
  }

  .modal-confirmation-gray-back .confirmation {
    width: 100%;
    height: 50%;
    justify-content: flex-end;
  }

  .modal-confirmation-gray-back .confirmation-greeting {
    font-size: 1.5rem;
  }
  .modal-confirmation-gray-back .confirmation-info {
    font-size: 1.1rem;
  }
}
@media (max-height: 800px) {
  .doctor-info {
    position: relative;
    width: 70%;
    min-width: 370px;
    height: 95vh;
  }
}
